* {
  background-color: black;
  color: white;
}
.container {
  margin-left: 20px;
  position: relative;
  padding-left: 12px;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #ccc;
}

.container > h4 {
  display: flex;
  align-items: center;
  cursor: pointer;

  gap: 6px;
  font-size: 15px;
  margin: 2px 0;
  padding: 3px 0;

  position: relative;
}

.container > h4::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  width: 12px;
  height: 1px;
  background: #ccc;
  transform: translateY(-50%);
}

.container > h4 span {
  font-size: 18px;
}
