.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  justify-items: center;
  background-color: #243b55;

  min-height: 100vh;
}

/* Optional: nice scrollbar for long lists */
.movie-list::-webkit-scrollbar {
  width: 8px;
}
.movie-list::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}
.movie-list::-webkit-scrollbar-thumb:hover {
  background: #666;
}
.hint {
  text-align: center;
  padding: 10px 15px;
  margin: 10px auto;

  color: #01d277;             /* TMDB green */
  background: rgba(1, 210, 119, 0.15);

  border-left: 4px solid #01d277;
  border-radius: 6px;

  font-size: 14px;
  width: fit-content;
  font-weight: 500;
}


/* Responsive tweaks */
@media (max-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
