.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  border: 1px solid black;
  width: 80%;
  margin: 0.8rem;
  padding: 0 0.8rem;
  position: relative;
}
span {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}
