.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 20px;
  background: rgba(0,0,0,0.4);  /* transparent dark background */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
}

/* left arrow */
.arrow.left {
  left: 20px;
}

/* right arrow */
.arrow.right {
  right: 20px;
}

.arrow:hover {
  background: rgba(0,0,0,0.6);
}
