.container{
    height: 40px;
    width: 350px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.progress{
    position: absolute;
    background-color: rgb(50, 244, 72);
    width: 100%;
    height: 100%;
    
}